a#prev, a#rand, a#next {
    border: 2px solid black;
    border-radius: 8px;
    background-color:#33cc93;
    float:left;
    text-decoration:none;
    color:black;
    padding: 3px 2px;
    margin: 5px 0px;
}
img {
    margin:16px;
    align:center;
    width:80vw;
}
